<div class="border border-1 p-5 rounded" id="details-section-4">
    <div class="form-row">
        <div class="col">
            <label for="app_name">اسم التطبيق</label>
            <input required id="app_name" name="company_name" type="text" class="form-control"
                   placeholder="اسم التطبيق ">
        </div>

        <div class="col">
            <label for="android_app_id">رقم تعريف التطبيق على الاندرويد</label>
            <input required id="android_app_id" name="android_app_id" type="text" class="form-control type-integer"
                   placeholder="رقم تعريف التطبيق على الاندرويد">
        </div>
    </div>

    <div class="form-row">

        <div class="col">
            <label for="ios_app_id">رقم تعريف التطبيق على الIOS</label>
            <input required type="text" name="ios_app_id" id="ios_app_id" class="form-control type-integer"
                   placeholder="رقم تعريف التطبيق على الIOS">
        </div>

        <div class="col">
            <label for="email">البريد الالكتروني</label>
            <input required type="email" name="email" id="email" class="form-control"
                   placeholder="البريد الالكتروني">
        </div>

    </div>

    <div class="form-row">

        <div class="col">
            <label for="website_url">الموقع الالكتروني</label>
            <input required type="url" name="website_url" id="website_url" class="form-control"
                   placeholder="الموقع الالكتروني">
        </div>

        <div class="col">
            <label for="android_app_url">رابط التطبيق على الاندرويد</label>
            <input required type="url" id="android_app_url" name="android_app_url" class="form-control"
                   placeholder="رابط التطبيق على الاندرويد">
        </div>

    </div>


    <div class="form-row">
        <div class="col">
            <label for="ios_app_url">رابط التطبيق على IOS</label>
            <input required type="url" id="ios_app_url" class="form-control"
                   placeholder="رابط التطبيق على IOS" name="ios_app_url">
        </div>
    </div>


</div>
