<div class="border border-1 p-5 rounded" id="details-section-1">
    <div class="form-row">
        <div class="col">
            <label for="company_name">اسم <span
                    class="formTypeTitle">الشركة</span></label>
            <input required id="company_name" name="company_name" type="text" class="form-control"
                   placeholder="ادخل الاسم">
        </div>
        <div class="col">
            <label for="trade_name">الاسم التجاري</label>
            <input required type="text" id="trade_name" name="trade_name" class="form-control"
                   placeholder="الاسم التجاري">
        </div>

    </div>
    <div class="form-row">
        <div class="col">
            <label for="id_number">رقم تعريف <span
                    class="formTypeTitle">الشركة</span></label>
            <input required id="id_number" type="number" name="id_number" class="form-control"
                   placeholder="رقم التعريف">
        </div>
        <div class="col" id="legal_col">
            <label for="legal_form">الشكل القانوني</label>
            <input required type="text" id="legal_form" name="legal_form" class="form-control"
                   placeholder="الشكل القانوني">
        </div>

    </div>

    <div class="form-row">
        <div class="col" id="companyـbudget">
            <label for="companyـbudget_input">رأس مال <span class="formTypeTitle">الشركة</span></label>
            <input required id="companyـbudget_input" type="number" name="company_budget" class="form-control"
                   placeholder="رأس المال">
        </div>
        <div class="col">
            <label for="email_input">البريد الالكتروني</label>
            <input required type="email" id="email_input" name="email" class="form-control"
                   placeholder="البريد الالكتروني">
        </div>


    </div>

    <div class="form-row">
        <div class="col">
            <label for="website_url"> الموقع الالكتروني </label>
            <input id="website_url" type="url" name="website_url" class="form-control"
                   placeholder="الموقع الالكتروني ">
        </div>


    </div>
</div>
