<div class="border border-1 p-5 rounded" id="details-section-5">
    <div class="form-row">
        <div class="col">
            <label for="company_name">اسم السائق</label>
            <input required id="company_name" name="company_name" type="text" class="form-control"
                   placeholder="اسم السائق">
        </div>

        <div class="col">
            <label for="revision_number">رقم المراجعة</label>
            <input required id="revision_number" name="revision_number" type="number" class="form-control"
                   placeholder="رقم المراجعة">
        </div>
    </div>

    <div class="form-row">

        <div class="col">
            <label for="driver_license">اجازة السوق</label>
            <input required type="file" accept="image/*" id="driver_license" class="form-control"
                   placeholder="اجازة السوق">
        </div>

        <input type="hidden" name="driver_license" id="driver_license_input">

        <div class="col">
            <label for="email">البريد الالكتروني</label>
            <input required type="email" name="email" id="email" class="form-control"
                   placeholder="البريد الالكتروني">
        </div>

    </div>


</div>
